@import "tailwindcss";

@theme {
  --color-pink-med: oklch(94.8% 0.028 342.258); 
}

@theme {
  --color-pink-dark: oklch(89.9% 0.061 343.231);
}

@theme {
  --color-pink-dark: oklch(89.9% 0.061 343.231);
}

.button {
  @apply p-2 m-2 bg-pink-dark;
}